include .gitignore
include CMakeLists.txt
include CODE_OF_CONDUCT.md
include LICENSE
include README.md
include SECURITY.md
include SUPPORT.md
include benchmarks/bench_logger.py
include benchmarks/suite.py
include picologging/__init__.py
include picologging/__init__.pyi
include picologging/_picologging.cxx
include picologging/formatstyle.cxx
include picologging/formatstyle.h
include picologging/formatter.cxx
include picologging/formatter.h
include picologging/logrecord.cxx
include picologging/logrecord.h
include pyproject.toml
include setup.py
exclude MANIFEST.in