include .devcontainer/Dockerfile
include .devcontainer/devcontainer.json
include .github/dependabot.yml
include .github/workflows/pages.yml
include .github/workflows/quality.yml
include .github/workflows/test.yml
include .github/workflows/wheel.yml
include .gitignore
include CHANGELOG.md
include CMakeLists.txt
include CODE_OF_CONDUCT.md
include LICENSE
include README.md
include SECURITY.md
include SUPPORT.md
recursive-include benchmarks *.py
include docs/Makefile
include docs/make.bat
include docs/requirements.txt
include docs/source/conf.py
recursive-include docs/source *.rst
include pyproject.toml
include setup.py
graft src/picologging
recursive-include tests *.py
exclude MANIFEST.in
exclude _skbuild
global-exclude *.py[cod]
global-exclude *.so
recursive-include tests *.md