include .gitignore
include CMakeLists.txt
include CODE_OF_CONDUCT.md
include LICENSE
include README.md
include SECURITY.md
include SUPPORT.md
include benchmarks/bench_logger.py
include benchmarks/suite.py
include src/picologging/__init__.py
include src/picologging/__init__.pyi
include src/picologging/_picologging.cxx
include src/picologging/formatstyle.cxx
include src/picologging/formatstyle.h
include src/picologging/formatter.cxx
include src/picologging/formatter.h
include src/picologging/logrecord.cxx
include src/picologging/logrecord.h
include pyproject.toml
include setup.py
exclude MANIFEST.in